In [1]:
import pandas as pd
import numpy as np
import scipy.stats as s
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score , f1_score ,roc_auc_score ,average_precision_score ,recall_score

In [2]:
data = pd.read_csv("sample_submission.csv")
data1 =pd.read_csv("test.csv")
train_data = pd.read_csv("train.csv")

In [3]:
data1 = pd.merge(data1,data)

In [4]:
df =pd.concat([data1,train_data])

In [5]:
df.drop(df.columns[0],axis=1,inplace=True)

In [6]:
labels = np.array(df['TARGET']).reshape(df['TARGET'].shape[0],1)

In [7]:
df

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.100000,0
1,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.720000,0
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.950000,0
3,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.610000,0
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.730000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
76016,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [8]:
training_data_len =int(0.8*df.shape[0])

In [9]:
satisfied_training_data = df[df['TARGET'] == 0].iloc[0:training_data_len//2]

non_satisfied_training_data = df[df['TARGET'] == 1].iloc[0:training_data_len//2]

In [10]:
training_data = pd.concat([satisfied_training_data,non_satisfied_training_data])

In [11]:
training_data

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.100000,0
1,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.720000,0
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.950000,0
3,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.610000,0
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.730000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75902,2,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45742.470000,1
75917,2,27,0.0,378.0,378.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,183437.250000,1
75941,2,26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69111.870000,1
76000,2,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,1
76007,2,61,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83667.150000,1

In [12]:
cv_data_len =df.shape[0] - training_data_len

In [13]:
satisfied_cv_data = df[df['TARGET'] == 0].iloc[0:cv_data_len//2]

non_satisfied_cv_data = df[df['TARGET'] == 1].iloc[0:cv_data_len//2]

In [14]:
cv_data = pd.concat([satisfied_cv_data,non_satisfied_cv_data])

In [15]:
cv_labels = np.array(cv_data['TARGET']).reshape(cv_data['TARGET'].shape[0],1)

In [16]:
cv_data['labels'] = cv_labels

In [17]:
obj=GaussianNB()

In [18]:
features =np.array(training_data.iloc[:,0:369])

In [19]:
lables1 =np.array(training_data.iloc[:,369])

In [20]:
obj.fit(features,lables1)

GaussianNB()

In [21]:
cv_features =np.array(cv_data.iloc[:,0:369])

In [22]:
cv_act_result =np.array(cv_data['labels'])

In [23]:
cv_predicted_catagary = obj.predict(cv_features)

In [24]:
accuracy_score(cv_act_result,cv_predicted_catagary)

0.19013852242744064

In [25]:
from sklearn.decomposition import PCA

In [26]:
x =np.array(df)

In [27]:
def cross_validation(n):
    pca_obj =PCA(n_components = n)
    x_new =pca_obj.fit_transform(x)
    x_train_new = x_new[0:63743,:]
    x_cv_new = x_new[63743:,:]
    obj = GaussianNB()
    obj.fit(x_train_new,lables1)
    obj.predict(x_cv_new)
    cv_predicted_catagary
    return accuracy_score(y_true=cv_act_result,y_pred=cv_predicted_catagary)

In [28]:
n=[369,100,50,25,10,2,1]
D_perfomance= {}
for number in n :
    D_perfomance[number]=cross_validation(number)

In [29]:
 D_perfomance

{369: 0.19013852242744064,
 100: 0.19013852242744064,
 50: 0.19013852242744064,
 25: 0.19013852242744064,
 10: 0.19013852242744064,
 2: 0.19013852242744064,
 1: 0.19013852242744064}

In [30]:
from sklearn.metrics import classification_report

In [31]:
classification_report(y_true=cv_act_result,y_pred=cv_predicted_catagary)

'              precision    recall  f1-score   support\n\n           0       0.96      0.03      0.06     15184\n           1       0.17      0.99      0.29      3008\n\n    accuracy                           0.19     18192\n   macro avg       0.56      0.51      0.17     18192\nweighted avg       0.83      0.19      0.10     18192\n'