In [1]:
import pandas as pd  #import pandas 

import numpy as np  #import numpy


# Import train_test_split function
from sklearn.model_selection import train_test_split

#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB

#Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score

In [2]:
# load the Santander customer satisfaction datasets

sample_sub_data = pd.read_csv("sample_submission.csv")

test_data =pd.read_csv("test.csv")

train_data = pd.read_csv("train.csv")

In [3]:
#merge the dataset 
test_data = pd.merge(test_data,sample_sub_data)

In [4]:
#concat the train and test datasets
df =pd.concat([test_data,train_data])

In [5]:
#drop ID coloumns
df.drop(df.columns[0],axis=1,inplace=True)

In [6]:
df

,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,imp_op_var40_ult1,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.100000,0
1,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.720000,0
2,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.950000,0
3,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.610000,0
4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.730000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000,0
76016,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000,0
76017,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000,0
76018,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000,0
76019,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [7]:
#create lablels for datasets
labels = np.array(df['TARGET']).reshape(df['TARGET'].shape[0],1)

#convert datset into array
x =np.array(df)

In [29]:
#Import PCA function from decomposition library
from sklearn.decomposition import PCA

#create PCA object
pca_obj =PCA(n_components =100)  ### value of eigen value is 100
df=pca_obj.fit_transform(x)

In [30]:
#Create a Gaussian Classifier
obj=GaussianNB()

In [31]:
# Split dataset into training set and test set
x_train, x_test, y_train, y_test = train_test_split(df,labels, test_size = 0.3)

In [32]:
# Train the model using the training sets
obj.fit(x_train,y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [33]:
#Predict the response for test dataset
y_pred = obj.predict(y_test)

In [34]:
#Prediction
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [35]:
# Model Accuracy, how often is the classifier correct?
accuracy_score(y_test, y_pred)

0.9797593958552863